body {

}

.adib-view {
    height: 560px;
    max-height: 560px;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-body {
    padding-top: 350px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5228466386554622) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}

.adib-img {
    width: fit-content;
    height: 350px;
}

.adib-bio {
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}